# Lock
Gemfile.lock


# Ignore bundler config
/.bundle
/bin

# Ignore the build directory
/build

# Ignore Sass' cache
/.sass-cache

# OS X
.DS_Store

# Texts (sources are on Dropbox)
/posts
/paper
/plain
